
.side
  .side__user seo
  =render partial: "messages/side-group", locals: { body: @body, group_id: @group_id }

.chat
  .chat__header
    .chat__header__groupname sample
    .chat__header__member Member：seo neko
    .chat__header__btn Edit
  
  .chat__main
    =render partial: "messages/chat-main-message", locals: { body: @body, image: @image, user_id: @user_id }
  
  .chat__form
    .chat__form__input{:placeholder => "type a message"}
    .chat__form__btn Send
        
    