.chat-group-form
  %h1 チャットグループ編集
  = render partial: 'form', locals: { group: @group }
  -# renderで、部分テンプレート呼び出し
  -# partialで、部分テンプレの名前を指定（名前だけで良い） 
  -# localsで、部分テンプレでも変数を使えるようにする。
  -# （今回は、インスタンス変数をローカル変数に変換する必要があった）