html{
  height:100%;
}
body{
  height:100%;
}

.chat {
  height: 100%;
  width: calc(100% - 300px);
  background-color: #fffaaa;
  float: left;


  &__header{
    height: 97px;
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
  

    &__groupname{
      background-color: $whitecolor;
      color: #333333;
      font-size: 20px;
      padding: 35px 0px 0px 40px;

    }

    &__member{
      background-color: $whitecolor;
      color: #999999;
      font-size: 12px;
      padding:15px 0px 0px 40px;
    }

    &__btn{
      background-color: $whitecolor;
      border: solid;
      border-width: 1px;
      border-color: $btnColor;
      color: $btnColor;
      height: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0px 20px;
      position: absolute;
      top: 28px;
      right: 40px;
    }
  }

  &__main{
    height: calc(100% - 233px);
    background-color: #fafafa;
    padding: 46px 40px 0px 40px;
  

    &__message{
      padding-bottom: 40px;
    
      &__up{
        margin-bottom: 10px;
        display: flex;

        &__name{
          color: $messageColor;
          font-size: 16px;
          font-weight: bold;
        }

        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }

      &__down{
        color: $messageColor;
        font-size: 14px;
      }
   }
  }
  /* フォームの高さは103 */

  &__form {
    background-color: #ddd;
    height: 90px;
    position: relative;
  

    &__input{
      position: absolute;
      background-color: $whitecolor;
      margin: 20px 15px 20px 40px;
      padding: 0px 10px;
      width: calc(100% - 230px);
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: $messageColor;

    }

    &__btn{
      position: absolute;
      background-color: $btnColor;
      color: $whitecolor;
      text-align: center;
      line-height: 50px;
      height: 50px;
      width: 100px;
      top: 20px;
      right: 40px;
      margin-left: 15px;
    }
  }
}