!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title chat-space
    %link{rel => "stylesheets" ,href => "application.scss"}
    :css
      /* Email styles need to be inline */

  %body
    = yield

